# Corpus preprocessing

* Input: Google Drive metadata and TXT

In [2]:
import sys
sys.path.append('..')
from ballitoreproject import *

## Metadata

In [4]:
# get_metadata??
get_metadata()

100%|██████████| 2983/2983 [00:04<00:00, 668.74it/s]

,sender,recipient,date,location from,location to,notes,box,datetime,year,decade,is_journal,sender_recip
id,,,,,,,,,,,,
mss4-b3-f1-001,Richard Grubb,Richard Shackleton,3/19/1789,Clonmel,Ballitore,,3,1789-03-19,1789,1780,False,Richard Grubb to Richard Shackleton
mss4-b3-f2-001,Samuel Grubb,Richard Shackleton,3/14/1792,Clonmel,Ballitore,,3,1792-03-14,1792,1790,False,Samuel Grubb to Richard Shackleton
mss4-b3-f3-001,Sarah Grubb,Richard Shackleton,12/24/1789,Clonmel,,,3,1789-12-24,1789,1780,False,Sarah Grubb to Richard Shackleton
mss4-b3-f4-001,Sarah Tuke Grubb,Richard Shackleton,6/12/1781,"Bush Lane, London","Bartholomew Close, London",,3,1781-06-12,1781,1780,False,Sarah Tuke Grubb to Richard Shackleton
mss4-b3-f4-002,Sarah Tuke Grubb,Richard Shackleton,8/13/1781,York,Ballitore,,3,1781-08-13,1781,1780,False,Sarah Tuke Grubb to Richard Shackleton
...,...,...,...,...,...,...,...,...,...,...,...,...
mss4-b2-f24-047,Margaret Shackleton Grubb,Richard Shackleton,1/18/1792,Clonmel,Ballitore,,2,1792-01-18,1792,1790,False,Margaret Shackleton Grubb to Richard Shackleton
mss4-b2-f24-048,Margaret Shackleton Grubb,Richard Shackleton,2/20/1792,Clonmel,Ballitore,,2,1792-02-20,1792,1790,False,Margaret Shackleton Grubb to Richard Shackleton
mss4-b2-f24-049,Margaret Shackleton Grubb,Richard Shackleton,4/24/1792,Clonmel,Ballitore,,2,1792-04-24,1792,1790,False,Margaret Shackleton Grubb to Richard Shackleton
mss4-b2-f24-050,Margaret Shackleton Grubb,Richard Shackleton,6/16/1792,Clonmel,Ballitore,,2,1792-06-16,1792,1790,False,Margaret Shackleton Grubb to Richard Shackleton
mss4-b2-f24-051,Margaret Shackleton Grubb,Richard Shackleton,8/19/1792,Clonmel,Ballitore,,2,1792-08-19,1792,1790,False,Margaret Shackleton Grubb to Richard Shackleton

## Adding text data

In [3]:
get_data(force=True)
# get_data??

Reading txt files: 100%|██████████| 4080/4080 [00:00<00:00, 8321.13it/s]
100%|██████████| 4560/4560 [00:00<00:00, 5320.88it/s]

,sender,recipient,date,location from,location to,notes,box,datetime,year,decade,is_journal,txt,supplemental_ids,num_letters,num_words
id,,,,,,,,,,,,,,,
mss4-b1-f7-001-176,William Penn,Unknown 1.1,2/10/1690,London,,copy; p. 2,1,1690-02-10,1690,1690,False,,mss4-b1-f7-001-177,1,0
mss4-b1-f3-005,Abraham Shackleton I,Richard Shackleton,1744,,Dublin,extract,1,1744-07-13,1744,1740,False,"P.7\t“Keep thy mind as quiet as possible, so t...",,1,37
mss4-b1-f7-001-3,Sophia Hume,Anne Hyam,6/1/1748,Philadelphia,,; p. 6,1,1748-06-01,1748,1740,False,,mss4-b1-f7-001-30,1,0
mss4-b1-f3-005-006,Abraham Shackleton I,Richard Shackleton,1748,,Dublin,,1,1748-07-13,1748,1740,False,"“We are very desirous of seeing thee at home, ...",,1,173
mss4-b1-f7-001-15,Sophia Hume,J. P.,5/19/1750,London,,,1,1750-05-19,1750,1750,False,,,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
consensus_text_90345943,,,,,,,14,NaT,0,0,True,"was no company here to day, and\neven Charlie ...",,1,74
consensus_text_90345944,,,,,,,14,NaT,0,0,True,"dinner, Papa, Ned, and the\nrest came out to t...",,1,69
consensus_text_90345945,,,,,,,14,NaT,0,0,True,[deletion]16[/deletion] Papa did not go to tow...,,1,71
consensus_text_90345946,,,,,,,14,NaT,0,0,True,[unclear]Strangman[/unclear] came over to tea ...,,1,68
consensus_text_90345947,,,,,,,14,NaT,0,0,True,27 Sunday Fine - Yearly Meeting -\nPapa and Ne...,,1,22